@media screen and (max-width: 2560px) { 
    .menu-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .menu-left-side {
        width: 850px;
        justify-content: space-evenly;
    }
    .menu-image-list a img {
        width: 50px;
    }
    .menu-close-button {
        top: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
    }
    .menuCloseBtnIcon {
        font-size: 30px !important;
    }
    .menu-container {
        height: 100vh;
        width: 100%;
    }
   .menu-logo {
    width: 190px;
    margin: 0 50px;
   }
   .social-media-image {
    width: 50px;
   }
   /* .menu-image-list {
    margin-bottom: 30px;
   } */
   .menu-image-link {
    font-size: 23px !important;
   }
   .menu-image-icon {
    width: 40px !important;
    padding: 10px !important;
   }
    .header-container {
        display: flex;
        justify-content: center;
    }
    .main-header {
        height: 120px;
    }
    .canse-logo-header {
        width: 105px;
        margin-left: 110px;
    }
    .container {
        margin-left: 90px;
    }
    .menu {
        width: 100px;
    }
    .main-nav ul li {
        margin: 0 25px;
    }
    .main-nav ul li a {
        font-size: 23px;
    }
    .menuButton-Header {
        display: none;
    }
    .menuIcon {
        font-size: 35px !important;
    }
    .languageToggle {
        font-size: 20px;
    }
    .right-side {
        margin-left: 100px;
    }
    .right-side-list {
        margin-right: 60px;
    }
    .search {
        font-size: 35px !important;
        padding-right: 15px;
    }
    /* .text-search {
        font-size: 1vw;
    } */
    .searchingButton {
        color: #ffffff;
    }
    .signup {
        font-size: 35px !important;
        padding-right: 15px;
    }
    .text-signup {
        font-size: 23px;

    }
    .btn-book-now {
        margin-left: 0 !important;
        font-size: 21px !important;
        padding: 30px 60px !important;
    }

    .catagory_list_buttons {
        align-self: flex-end !important;
    }
    .first-section-splide {
        height: 1000px !important;
    }
    .img-header-slide {
        height: 1000px !important;
    }
    .item {
        width: 400px;
        height: 630px;
    }
    .title {
        padding: 60px 0 0 150px;
        font-size: 25px;
    }
    .splide-slide-images {
        max-height: 455px !important;
    }
    .catagory_list_buttons {
        padding: 40px 0 0 0;
        align-self: center;
    }
    .all {
        font-size: 20px;    
    }
    .catagory_item.active {
        border-bottom: 2px solid #0E78BD;
    }
    .tertiary-section {
        padding-top: 220px;
    }
    .tertiary-section-title {
        font-size: 26px;
    }
    .icon-container {
        width: 260px;
        height: 260px;
    }
    .icon-box-title {
        font-size: 22px;
    }
    .icon-slide-image {
        width: 100px !important;
        height: 100px !important;
    }
    .count {
        width: 55px;
        height: 55px;
        font-size: 15px;
    }
    .footer {
        height: 480px;
    }
    .footer-header {
        font-size: 20px;
    }
    .canse-logo-footer {
        width: 180px;
    }
    .info-section h5 {
        font-size: 18px;
    }
    .footer-list {
        font-size: 18px !important;
    }
    .footer-bottom-container h6 {
        font-size: 18px;
    }
    .toTop {
    padding: 17px;
    }
    .popular-search > h6 {
        font-size: 24px;
    }
    .primary-list-list-search > h5 {
        font-size: 16px;
    }
    .listName {
        font-size: 15px;
    }

} 
 @media screen and (max-width: 1440px) {
    .menu-container {
        height: 650px;
    }
    .menu-logo {
        width: 110px;
        margin: 0 0 10px 70px;
    }
    .menu-image-list {
        margin-bottom: 15px;
    }
    .menu-image-link {
        font-size: 16px !important;
    }
    .social-media-image {
        width: 35px;
    }
    .menu-image-icon {
        width: 30px !important;
        padding: 5px !important;
    }
    .main-header {
        height: 90px;
    }
    .canse-logo-header {
        width: 100px;
        margin-left: 80px;
    }  
    .container {
        margin-left: 0px;
    } 
    .menu {
        width: 60px;
    }
    .menuIcon {
        font-size: 25px !important;
    }
    .languageToggle {
        font-size: 13px;
    }
    .header-title {
        font-size: 14px !important;
         display: flex;
        align-items: center; }
    
     .main-nav ul li {
        margin: 0 10px;
    }
    .right-side {
        margin-left: 80px;
    }
    .search {
        font-size: 22px !important;
        padding-right: 15px;
    }
    /* .text-search {
        font-size:14px;
    } */
    .searchingButton {
        color: #ffffff;
    }
    .text-signup {
        font-size: 14px;
    }
    .signup {
        font-size: 22px !important;
    }
    .right-side-list {
        margin-right: 0px !important;
    }
    .btn-book-now {
        margin-left: 0 !important;
        font-size: 14px !important;
        padding: 17px 25px !important;
    }
    .menuButton-Header {
        display: none;
    }
    .first-section-splide {
        height: 650px !important;
    }
    .img-header-slide {
        height: 650px !important;
    }
    .item {
        width: 270px;
        height: 470px;
    }
    .title {
        font-size: 22px;
    }
    .catagory_list_buttons {
        padding: 40px 0 0 0;
        align-self: flex-end;
    }
    .all {
        font-size: 13px;    
    }
    .splide-slide-images {
        max-height: 350px !important;
        object-fit: contain !important;
    }
    .tertiary-section {
        padding-top: 100px;
    }
    .tertiary-section-title {
        font-size: 19px;
    }
    .icon-container {
        width: 170px;
        height: 170px;
    }
    .icon-slide-image {
        width: 60px !important;
        height: 60px !important;
    }
    .count {
        width: 35px;
        height: 35px;
        font-size: 12px;
    }
    .icon-box-title {
        font-size: 15px;
    }
    .footer {
        height: 370px;
    }
    .footer-header {
        font-size: 18px;
    }
    .canse-logo-footer {
        width: 120px;
    }
    .info-section h5 {
        font-size: 14px;
    }
    .footer-list {
        font-size: 14px !important;
    }
    .footer-bottom {
        padding: 0 ;
    }
    .footer-bottom-container h6 {
        font-size: 13px;
    }
    .toTop {
    padding: 12px;
    } 
}

@media screen and (max-width: 1024px) {
     .main-header {
        height: 90px;
    }
    .canse-logo-header {
        width: 100px;
        margin-left: 80px;
    }  
    .container {
        margin-left: 0px;
    } 
    .menu {
        width: 60px;
    }
    .menuIcon {
        font-size: 25px !important;
    }
    .languageToggle {
        font-size: 13px;
    }
    .header-title {
        font-size: 14px !important;
        
    }
     .main-nav ul li {
        margin: 0 10px;
    }
    .right-side {
        margin-left: 80px;
    }
    .search {
        font-size: 22px !important;
        padding-right: 15px;
    }
    /* .text-search {
        font-size:14px;
    } */
    .searchingButton {
        color: #ffffff;
    }
    .text-signup {
        font-size: 14px;
    }
    .signup {
        font-size: 22px !important;
    }
    .right-side-list {
        margin-right: 0px !important;
    }
    .btn-book-now {
        margin-left: 0 !important;
        font-size: 14px !important;
        padding: 17px 25px !important;
    }
    .menuButton-Header {
        display: none;
    }
    .first-section-splide {
        height: 650px !important;
    }
    .img-header-slide {
        height: 650px !important;
    }
    .item {
        width: 270px;
        height: 470px;
    }
    .title {
        font-size: 22px;
    }
    .catagory_list_buttons {
        padding: 40px 0 0 0;
        align-self: flex-end;
    }
    .all {
        font-size: 13px;    
    }
    .splide-slide-images {
        max-height: 350px !important;
        object-fit: contain !important;
    }
    .tertiary-section {
        padding-top: 100px;
    }
    .tertiary-section-title {
        font-size: 19px;
    }
    .icon-container {
        width: 170px;
        height: 170px;
    }
    .icon-slide-image {
        width: 60px !important;
        height: 60px !important;
    }
    .count {
        width: 35px;
        height: 35px;
        font-size: 12px;
    }
    .icon-box-title {
        font-size: 15px;
    }
    .footer {
        height: 370px;
    }
    .footer-header {
        font-size: 18px;
    }
    .canse-logo-footer {
        width: 120px;
    }
    .info-section h5 {
        font-size: 14px;
    }
    .footer-list {
        font-size: 14px !important;
    }
    .footer-bottom {
        padding: 0 ;
    }
    .footer-bottom-container h6 {
        font-size: 13px;
    }
    .toTop {
    padding: 12px;
    }  
} 

 @media screen and (max-width: 991px) {
    .main-nav, .text-search, .text-signup, .menu {
        display: none;
    }
     .header-container {
            width: 100%;
    justify-content: space-between;
    }
    .container {
        display: flex;
        justify-content: flex-end;
    }
    .main-header {
        height: 70px;
    }
    .canse-logo-header {
        width: 70px;
    }
    .header-title {
        height: 90px;
        border-left: 1px solid gray;
        border-right: 1px solid gray;
    }
    .signup {
        font-size: 24px !important;
        padding-right: 0 !important;
    }
    .search {
        font-size: 24px !important;
        padding-right: 0 !important;
    }
    .menuButton-Header {
        display: block;
        color: #ffffff;
    }
    .content {
        padding-left: 0;
    }
     .section_header {
        justify-content: none;
    } 
    .container {
        margin-right: 50px;
    }
  
    .right-side-list {
        display: flex;
        align-items: center;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    .btn-book-now {
        font-size: 12px !important;
        padding: 17px 30px !important;
    }
    .catagory {
        padding: 0;
    width: calc(100vw - 10px);
    }
    .catagory_item {
        margin-left: 5px;
    }
    .item {
    margin-right:90px;

    }
    .catagory_list_buttons {
        margin-left: 60px;
    }
    .footer {
        height: 900px;
    }
    .main-middle-footer {
        display: flex;
        flex-direction: column;
    }
    .row-emptyPlace {
        display: none;
    }
    .footer-bottom {
        padding: 0;
    }
    .row {
        padding-left: 30px;
    }
  } 

 @media screen and (max-width: 768px){
    .main-nav, .text-search, .text-signup, .menu {
        display: none;
    }
     .header-container {
            width: 100%;
    justify-content: space-between;
    }
    .container {
        display: flex;
        justify-content: flex-end;
    }
    .main-header {
        height: 70px;
    }
    .canse-logo-header {
        width: 70px;
    }
    .header-title {
        height: 90px;
        border-left: 1px solid gray;
        border-right: 1px solid gray;
    }
    .signup {
        font-size: 24px !important;
        padding-right: 0 !important;
    }
    .search {
        font-size: 24px !important;
        padding-right: 0 !important;
    }
    .menuButton-Header {
        display: block;
        color: #ffffff;
    }
    .content {
        padding-left: 0;
    }
    .container {
        margin-right: 50px;
    }
    .right-side-list {
        display: flex;
        align-items: center;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    .btn-book-now {
        font-size: 12px !important;
        padding: 17px 30px !important;
    }
    .catagory {
        padding: 0;
    width: calc(100vw - 10px);
    }
    .item {
        width: 200px;
        height: 380px;
    }
    .catagory_item {
        margin-left: 5px;
    }
   .title {
    padding: 40px 0 0 65px;
    font-size: 18px;
   }
   .all {
    font-size: 12px;
   }
    .catagory_list_buttons {
        margin-left: 60px;
    }
    .splide-slide-images {
        object-fit: cover !important;
    }
    .footer {
        height: 900px;
    }
    .main-middle-footer {
        display: flex;
        flex-direction: column;
    }
    .row-emptyPlace {
        display: none;
    }
    .footer-bottom {
        padding: 0;
    }
    .row {
        padding-left: 30px;
    }
}   